# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cmake
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

quartz-compiler/.idea/
quartz-compiler/cmake-build-debug-wsl/
quartz-compiler/cmake-build-release-wsl/
quartz-compiler/.vs/
quartz-compiler/build/
quartz-compiler/CmakeFiles/
quartz-compiler/CMakeCache.txt
quartz-compiler/quartz-compiler.dir/